
@{
    int x = ViewBag.t;
    int y = ViewBag.q;
    int a = ViewBag.a;
    bool r = ViewBag.r;

    List<bool?>? f = new List<bool?>();
    f = ViewBag.f;



    for (int i = 0; i < 10; i++)
    {
        string w = "";
        if (f[i] == true)
        {
            w = "btn btn-success";
        }
        else if (f[i] == false)
        {
            w = "btn btn-danger";
        }
        else
        {
            w = "btn btn-outline-primary";
        }
        <a asp-controller="Tisket" asp-action="I" asp-route-id="@(x + i)"><button class="@w mb-3">@(i + 1)</button></a>
    }


    <br />

    <h3>@y</h3>

    QuestionModel question = ViewBag.Question;



    if (question.Media.Exist)
    {
        var imageLink = $"/Autotest/{question.Media.Name}.png";

        <img alt="Question image" src="@imageLink" />
    }

    <h3>@question.Id. @question.Question</h3>
    <br />

    for (int i = 0; i < question.choices.Count; i++)
    {

        var bg = "";

        if (question.choices[i].Answer)
        {
            bg = "background-color: chartreuse";
            
        }
        else if (i == a)
        {
            bg = "background-color: red";
        }

        <h5 style="@bg">@(i + 1). @question.choices[i].Text</h5>
        

        <br />
    }

    if (r)
    {
        <a asp-controller="Tisket" asp-action="I" asp-route-id="@(y + 1)"><button class="btn btn-outline-primary mb-3">Next</button></a>
    }
    else
    {
        <a asp-controller="Tisket" asp-action="Finish" ><button class="btn btn-outline-primary mb-3">finish</button></a>
    }


}
